<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>

    <h2>Menu</h2>

    <table>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Available for delivery?</th>
        </tr>
        <tr>
            <td>Hot chips</td>
            <td>$4.00</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Burger</td>
            <td>$8.00</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Fish of the day</td>
            <td>$10.00</td>
            <td>No</td>
        </tr>

    </table>

</body>

</html>